#cardBody {
  &.content {
    .flex-item-message {
     display: flex;
     justify-content: space-between;
     margin-bottom: 24px;
     color:#606060;
     border-bottom: 1px solid #E5E5E5;
      .p {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
      }
      .notes-label {
       width: 60%;
       padding-bottom: 20px;
 }
      .notes-value {
       //width: 40%;
       padding-bottom: 20px;
  }
    }
  }
}