#orderDetailPage {
  background-color: #D0D0D0;
 
  .section-1 {
    padding: 29px;
    font-size: 14px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    background: #FFFFFF;
    border-bottom: 1px solid rgba(229, 229, 229, 0.6);

    p {
      color: #696969;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }

    .bar-options {
      display: flex;
      justify-content: space-between;
    }

    .top-bar-options {
      display: flex;
      div {
        margin-right: 22px;
        cursor: pointer;
      }
      // input.partitioned {
      //   padding-left: 15px;
      //   letter-spacing: 42px;
      //   border: 0;
      //   background-image: linear-gradient(to left, #606060 70%, rgba(229, 229, 229, 0.6) 0%);
      //   background-position: bottom;
      //   background-size: 50px 1px;
      //   background-repeat: repeat-x;
      //   background-position-x: 35px;
      //   width: 180px;
      //   min-width: 180px;
      // }
    }
  }

  .section-2 {
    display: flex;
    justify-content: space-between;
    .status-bar {
      width: 300px;
      height: calc(100vh - 180px);
      padding: 22px;
      background: #FFFFFF;
      .title {
        font-weight: bold;
        font-size: 16px;
        color: #010B13;
      }
    }  
    .card-container {
      width: calc(100% - 352px);
      padding: 24px;
      
      .section {
        display:flex;
        justify-content: space-between;
      }
    }
    .right-navbar {
      display: flex;
      flex-direction: column;
      width: 60px;
      height: calc(100vh - 180px);
      background: #FFFFFF;

      button {
        background-color: Transparent;
        border: none;
        cursor: pointer;
        padding: 12px 12px 12px 18px;
        &:hover {
          background: #E5E5E5;
          padding: 12px;
          width: 48px;
          display: flex;
          align-self: center;
        }
        &.active {
          background: #E5E5E5;
          padding: 12px;
          width: 54px;
          // display: flex;
          // align-self: center;
        }
      }
    }
  }
}

input.partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, #606060 70%, rgba(229, 229, 229, 0.6) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 180px;
  min-width: 180px;
}